/* медиа запросы */
/*#######################################*/
@media (min-width: 1001px) { /* первая переломная точна изменения раскладки */
    .main-container {
        flex-direction: row;
        justify-content: flex-start;
        flex-wrap: wrap;
        background-color: #f5f5f5;
    }
    .block:not(:nth-child(8)):nth-child(2n) {
        background-color: #f5f5f5;
    }

    .share-block {
        order: 4;
    }
    .features-block {
        order: 6;
    }
    .features-block {
        order: 5;
    }
    .news-block {
        order: 6;
    }

    .logo-block {
        width: 100%;
    }
    .advantages-block .wrapper,
    .share-block .wrapper,
    .getit-block .wrapper {
        flex-direction: column;
    }
    .advantages-block,
    .share-block,
    .features-block,
    .getit-block {
        width: 20%;
    }
    .advantages-block,
    .descr-block,
    .share-block,
    .features-block,
    .news-block,
    .getit-block {
        background-color: #f5f5f5;
    }
    .share {
        margin: 0 20px 20px 20px;
    }
    .descr-block,
    .news-block {
        width: 60%;
    }

    .features {
        margin: 0 25px 0 25px;
    }

    .getit-block-img {
        margin: 0 20px 20px 0;
    }

    .sponsors-block {
        width: 100%;
    }
}

/*#######################################*/
@media (max-width: 680px) { /* вторая переломная точна изменения раскладки */
    /*.descr-block {
        order: 2;
    }

    .news-block {
        order: 3;
    }    

    .advantages-block {
        order: 4;
    }

    .features-block {
        order: 5;
    }*/
}

/*#######################################*/
@media (max-width: 480px) {
    .wrapper {
        flex-direction: column;
    }
    
    .description img,
    .news img {
        max-width: 150px;
        max-height: 100px;
    }

    .article-text {
        font-size: 20px;
        text-align: justify;
        margin: 0;
    }

    .block-link {
        display: inline;
    }

    .colored-link,
    .gray-link,
    .simple-link {
        font-size: 20px;
        color:  #50c3af;
        background-color: inherit;
    }

    .colored-link:hover,
    .gray-link:hover,
    .simple-link:hover {
        color: #4d4dff;
        background-color: inherit;
    }

    .special-headers:after,
    .header-text:before,
    .header-text:after {
        display: none;
    }

    .advantage, 
    .description, 
    .news,
    .share,
    .getit-block-img {
        margin: 0 0 20px 0;
    }

    .features-block .article-text {
        margin: 0 20px 0 20px;
    }

    .features-block .wrapper {
        margin: 0 20px 0 20px;
    }

    .sponsors-logos {
        flex-direction: column;
    }

    .footer .wrapper {
        flex-direction: column-reverse;
    }

    .footer-text,
    .social a {
        font-size: 20px;
    }
}

/*#######################################*/
@media (max-width: 360px) {
    .images,
    .font-icons,
    .font-icons:before {
        display: none;
    }
}