/* первая переломная точна изменения раскладки */
.main-container {
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: wrap;
    background-color: #f5f5f5;
}
.block:not(:nth-child(8)):nth-child(2n) {
    background-color: #f5f5f5;
}

.share-block {
    order: 4;
}
.features-block {
    order: 6;
}
.features-block {
    order: 5;
}
.news-block {
    order: 6;
}

.logo-block {
    width: 100%;
}
.advantages-block .wrapper,
.share-block .wrapper,
.getit-block .wrapper {
    flex-direction: column;
}
.advantages-block,
.share-block,
.features-block,
.getit-block {
    width: 20%;
}
.advantages-block,
.descr-block,
.share-block,
.features-block,
.news-block,
.getit-block {
    background-color: #f5f5f5;
}
.share {
    margin: 0 20px 20px 20px;
}
.descr-block,
.news-block {
    width: 60%;
}

.features {
    margin: 0 25px 0 25px;
}

.getit-block-img {
    margin: 0 20px 20px 0;
}

.sponsors-block {
    width: 100%;
}