* {
    box-sizing: border-box;
}

body {
    font-family: 'Orbitron', sans-serif;
    font-size: 20px;
    color: #ffffff;
    background: url("../img/body-bg.jpg") no-repeat;
    position: relative;
}

p {
    margin: 0;
    padding: 0;
}

.wrapper {
    width: 1250px;
    position: fixed;
    top: 50%;
    left: 50%;
    margin-top: -300px; 
    margin-left: -650px;
    text-align: center;
    margin-top: 30px;
    position: relative;
}

canvas {
    border: 1px solid #00abe3;
}

.stars { /*чтобы закрывать "дырки" после удаления объектов с canvas*/
    width: 1200px;
    height: 500px;
    position: absolute;
    top: 0;
    left: 30px;
    background: url("../img/bg.png") no-repeat;
    z-index: -1000;
}

.control-info {
    color: #ff8989;
    font-weight: 700;
}

.lives {
    width: 200px;
    height: 100px;
    position: absolute;
    top: 20px;
    left: 50px;
    font-size: 30px;
    font-weight: 700;
    text-align: left;
}

.scores {
    width: 200px;
    height: 120px;
    position: absolute;
    top: 20px;
    right: 56px;
    font-size: 30px;
    font-weight: 700;
    text-align: left;
}

.score {
    text-align: right;
}

.game-menu {
    width: 800px;
    height: 500px;
    position: fixed;
    top: 50%;
    left: 50%;
    margin: -293px 0 0 -422px;
    z-index: 10000;
    background-color: rgba(32, 38, 40, .9);
    border-radius: 20px;
}

.btn {
    font-family: 'Orbitron', sans-serif;
    width: 250px;
    height: 130px;
    display: inline-block;
    border: none;
    font-size: 30px;
    color: #f5f5f5;
    background-color: rgba(0, 0, 0, 1);
}

.btn:hover {
    color: #00abe3;
    background-color: #dedede;
}

.start {
    margin: 20px 0 0 20px;
}

.game-end-menu {
    width: 500px;
    height: 250px;
    position: fixed;
    top: 50%;
    left: 50%;
    margin: -240px 0 0 -251px;
    z-index: 10000;
    background-color: rgba(32, 38, 40, .9);
    border-radius: 20px;
    text-align: center;
    display: none;
}

.end-game-text {
    font-size: 30px;
    font-weight: 700;
    color: #ff8989;
    text-align: center;
    padding: 30px 0 30px 0;
}

.pause-container {
    width: 500px;
    height: 250px;
    position: fixed;
    top: 50%;
    left: 50%;
    margin: -240px 0 0 -285px;
    z-index: 10000;
    background: none;
    border-radius: 20px;
    text-align: center;
    display: none;
}

.pause-container-text {
    color: #ffffff;
    font-size: 30px;
}