body {
    font-family: 'Orbitron', sans-serif;
    font-size: 30px;
    color: #ffffff;
    background: url("../img/body-bg.jpg") no-repeat;
    /*background-color: #202628;*/
}

.wrapper {
    width: 100%;
    text-align: center;
    margin-top: 30px;
}

canvas {
    border: 1px solid #00abe3;
}

p > span {
    color: #ff8989;
    font-weight: 700;
}