html, body {
    margin: 0;
    padding: 0;
    font-size: 0;
}

body {
    font-family: 'Varela Round', sans-serif;
    background-color: #efefef;
}

a:visited {
    border: none;
}

ul { /* сбросим стиль списка */
    margin: 0;
    padding: 0;
    list-style-type: none;
}

table {
    border-spacing: 0;
}

.clear:after { /* метод Micro Clear Fix взял у Дэвида Макфарланда из "Большая книга CSS3" */
    content: " ";
    display: table;
    clear: both;
}

.chart-icon,
.add-currency-icon,
.number-pad-icon,
.calendar-arrows span,
.weather-menu span {
    background: url("../img/sprites.png") no-repeat;
}

/* конвертер валют */
/* ############################################# */
.converter {
    width: 307px;
    height: 290px;
    color: #b2b2b2;
    background-color: #ffffff;
    margin: 20px;
}

.converter-wrapper { /* для прижатия меню к низу, потому что в макете не равные высоты у валют */
    min-height: 100%; 
    margin-bottom: -64px; 
}

.converter-push { /* для прижатия меню к низу */
    height: 64px;
}

.converter ul {
    padding: 7px 0 0 0;
}

.converter li {
    min-height: 109px;
    position: relative;
}

.converter li:not(:last-child) {
    border-bottom: 1px solid #e2e2e2;
}

.currency-name {
    width: 103px;
    height: 54px;
    display: inline-block;
    position: absolute;
    top: 28px;
    font-size: 18px;
    text-align: center;
    text-transform: uppercase;    
    border-right: 1px solid #d7d7d7;
}

.currency-value {
    width: 150px;
    height: 54px;
    display: inline-block;
    position: absolute;
    top: 28px;
    right: 27px;
    color: #b2b2b2;
    font-size: 40px;
    text-align: right;
}

.currency-value:first-letter {
    font-size: 27px;
}

.dollars:before {
    content: "$";
}

.pounds:before {
    content: "\00a3";
}

.converter-options {
    height: 64px;
}

.converter-options a {
    height: 100%;  
    display: inline-block;
    position: relative;
}

.chart-icon,
.add-currency-icon,
.number-pad-icon {
    height: 30px;
    width: 33px;
    display: inline-block;
    position: absolute;
    top: 19px;
}

.chart {
    width: 102px;      
    background-color: #ff8989;   
}

.chart-icon {
    left: 32px;    
    background-position: -10px -83px;
}

.chart:hover {
    background-color: #526e82;
}

.add-currency {
    width: 136px;
    background-color: #526e82;
}

.add-currency-icon {
    left: 82px;
    background-position: -8px -48px;
}

.add-currency:hover .add-currency-icon {
    background-position: -48px -48px;
} 

.number-pad {
    width: 69px;
    background-color: #526e82;
}

.number-pad-icon {
    left: 19px;
    background-position: -8px -8px;
}

.number-pad:hover .number-pad-icon {
    background-position: -48px -8px;
}

/* календарь */
/* ############################################# */
.calendar {
    width: 307px;
    height: 375px;
    margin: 20px;
    font-size: 17px;
}

.calendar-header {
    width: 307px;
    height: 85px;
    background-color: #526e82;
    position: relative;
}

.calendar-arrows {
    width: 41px;
    height: 100%;
    display: inline-block;    
}

.calendar-arrows span {
    width: 16px;
    height: 27px;
    display: inline-block;
    position: absolute;
    top: 29px;    
}

.calendar-left-arrow {
    float: left;    
}

.calendar-left-arrow span {    
    left: 14px;    
    background-position: -6px -118px;
}

.calendar-left-arrow:hover span {
    background-position: -42px -119px;
}

.calendar-right-arrow {
    float: right;    
}

.calendar-right-arrow span {     
    right: 18px;
    background-position: -24px -118px;
}

.calendar-right-arrow:hover span {
    background-position: -62px -119px;
}

.calendar-header ul {
    width: 60px;
    height: 100%;
    position: absolute;
    top: 16px;
    left: 130px;
}

.calendar-year {
    color: #e6e6e6;
}

.calendar-month {
    color: #ffffff;
    font-size: 18px;
    font-weight: 500;
    text-transform: uppercase;
}

.calendar-table {
    width: 100%;
    text-align: center;    
}

.week-days {
    font-weight: 700;
    color: #3dad99;
    text-transform: uppercase;
    background-color: #4cd9c0;
}

.week-days tr {
    height: 56px;
}

.dates {
    color: #9d9d9d;
    background-color: #ffffff;
}

.dates td {
    /*height: 50px;*/
    /*vertical-align: middle;*/
}

.date {
    width: 30px;
    height: 30px;
    display: inline-block;
    border-radius: 50%;
}

.date:not(:empty):hover { /* ячейки, в которых нет чисел не подсвечиваются */
    color: #ffffff;
    background-color: #ff8989;
    cursor: pointer;
}

.current-date {
    color: #ffffff;
    background-color: #ff8989;    
}

/* погода */
/* ############################################# */
.weather {
    width: 307px;
    height: 312px;
    background-color: #ffffff;
    margin: 20px;
}

.weather-slider {
    width: 307px;
    height: 248px;    
    position: relative;
}

.weather-slider img {
    width: 100%;
    height: 100%; 
}

.weather-data {
    width: 100%;
    font-size: 16px;
    font-weight: 500;
    color: #ffffff;
    position: absolute;
    bottom: 12px;
    left: 11px;
    z-index: 100;
}

.temperature,
.location,
.time {
    line-height: 22px;
}

.temperature {
    font-size: 47px;
}

.temperature:after {
    content: "\00b0";
}

.slider-switcher {
    position: absolute;
    right: 12px;
    bottom: 11px;
    z-index: 1000;
}

.switcher {
    width: 7px;
    height: 7px;
    border-radius: 50%;
    display: inline-block;
    background-color: #05aeb3;
    cursor: pointer;
}

.switcher:not(:first-child) {
    margin: 0 0 0 8px;
}

.switcher-active,
.switcher:hover {
    background-color: #076164;
}

.weather-menu {
    width: 307px;
    height: 64px;
    display: inline-block;    
}

.weather-menu li {
    width: 76px;
    height: 64px;
    display: inline-block;
    position: relative;
}

.weather-menu li:last-child {
    width: 79px;
}

.weather-menu a {
    width: 100%;
    height: 100%;
    display: inline-block;
}

.weather-menu span {
    height: 30px;
    width: 27px;
    top: 17px;
    left: 25px;
    display: inline-block;
    position: absolute;
}

.weather-menu a:hover,
.weather-menu-active {
    background-color: #ff8989;
}

.fahrenheit span {
    background-position: -96px -90px;
}

.fahrenheit.weather-menu-active span,
.fahrenheit:hover span {
    background-position: -132px -90px;
}

.celsius span {
    background-position: -98px -129px;
}

.celsius.weather-menu-active span,
.celsius:hover span {
    background-position: -139px -130px;
}

.weather-add span {
    background-position: -96px -48px;
}

.weather-add.weather-menu-active span,
.weather-add:hover span {
    background-position: -48px -48px;
}

.weather-pad span {
    width: 43px;
    background-position: -96px -8px;
}

.weather-pad.weather-menu-active span,
.weather-pad:hover span {
    background-position: -153px -8px;
}