.widget-size {
    width: $widget-width;
    min-height: $widget-min-height;
    background-color: $white;
    font-size: $widget-font-size;
    margin: 30px 0 0 30px;
}

.clear:after { /* метод Micro Clear Fix взял у Дэвида Макфарланда из "Большая книга CSS3" */
    content: " ";
    display: table;
    clear: both;
}

.control-item-class {
    width: $control-item-width;
    height: $control-item-width;    
    display: inline-block;
    cursor: pointer;
    background: $bg-sprite-url;
    margin: 0 0 0 22px;
}