.widget-size {
    width: $widget-width;
    min-height: $widget-min-height;
    background-color: $white;
    font-size: $widget-font-size;
    margin: 30px 0 0 30px;
}

.clear:after { /* метод Micro Clear Fix взял у Дэвида Макфарланда из "Большая книга CSS3" */
    content: " ";
    display: table;
    clear: both;
}

.control-item-class {
    width: $control-item-width;
    height: $control-item-width;    
    display: inline-block;
    cursor: pointer;
    background: $bg-sprite-url;
    margin: 0 0 0 22px;
}

.login-icons-class {
    width: 22px;
    height: 24px;
    display: inline-block;
    margin: 26px 22px 25px 22px;
}

.login-input-class {
    font-size: $widget-font-size + 2px;
    color: $light-gray;
    border: none;
}

.login-buttons-class {
    font-size: $widget-font-size;
    font-weight: 700;
    text-transform: uppercase;
    border: none;
    cursor: pointer;
}