@mixin menu-size($bg-color, $height: $menu-min-height) {
    width: $widget-width;
    height: $height;
    background-color: $bg-color;
}

@mixin element-size($width, $height, $background-color: inherit) {
    width: $width;
    height: $height;
    background-color: $background-color;
    display: inline-block; 
}

@mixin simple-size($width, $height) {
    width: $width;
    height: $height;
}

@mixin display-options($position, $top: auto, $right: auto, $left: auto, $bottom: auto) {
    position: $position;
    top: $top;
    right: $right;
    left: $left;
    bottom: $bottom;
}

@mixin text-options($font-size, $text-align: auto, $color: inherit) {
    font-size: $font-size;
    text-align: $text-align;
    color: $color;
}

@mixin bg-sprite($x, $y) {
    background: $bg-sprite-url;
    background-position: $x $y;
}

@mixin display-border-radius($radius) {
    border-radius: $radius;
}

@mixin song-scale($width, $color) {
    width: $width;
    height: $song-scale-height;
    border-radius: $song-scale-border-radius;
    cursor: $cursor-type;
    background-color: $color;
}

@mixin control-item($x, $y) {
    @extend .control-item-class;
    background-position: $x $y;
}

@mixin messenger-text($font-size, $font-weight, $color) {
    font-size: $font-size;
    font-weight: $font-weight;
    color: $color;
    text-overflow: ellipsis;
}

@mixin contact-simple-size($width, $height, $border-radius: 0%) {
    display: inline-block;
    width: $width;
    height: $height;
    border-radius: $border-radius;
}

@mixin buttons-colors($color, $background-color) {
    color: $color;
    background-color: $background-color;
}

@mixin placeholder-color($type, $color) {
    @if $type == valid {
        .valid-input::-webkit-input-placeholder { /* Chrome/Opera/Safari */
            color: $color;
        }
        .valid-input::-moz-placeholder { /* Firefox 19+ */
            color: $color;
        }
        .valid-input:-ms-input-placeholder { /* IE 10+ */
            color: $color;
        }
        .valid-input:-moz-placeholder { /* Firefox 18- */
            color: $color;
        }
    } @else {
        .invalid-input::-webkit-input-placeholder { /* Chrome/Opera/Safari */
            color: $color;
        }
        .invalid-input::-moz-placeholder { /* Firefox 19+ */
            color: $color;
        }
        .invalid-input:-ms-input-placeholder { /* IE 10+ */
            color: $color;
        }
        .invalid-input:-moz-placeholder { /* Firefox 18- */
            color: $color;
        }
    } 
}

@mixin check-inputs($color, $top: auto, $bottom: auto, $left: auto, $border-color: $white) {
    color: $color;
    top: $top;
    bottom: $bottom;
    left: $left;
    border: $middle-border $border-color;
}

@mixin range-track($background-color) {
    .range::-webkit-slider-runnable-track {
        background-color: $background-color;
        @extend .range-track-class;
    }

    .range::-moz-range-track {
        background-color: $background-color;
        @extend .range-track-class;
    }

    .range::-ms-track {
        background-color: $background-color;
        @extend .range-track-class;
    }
}

@mixin range-tumb($background-color, $border-color) {
    .range::-webkit-slider-thumb {
        background-color: $background-color;
        border: $border-style $border-color;

        @extend .range-tumb-class;
    }

    .range::-moz-range-thumb {
        background-color: $background-color;
        border: $border-style $border-color;

        @extend .range-tumb-class; 
    }

    .range::-ms-thumb {    
        background-color: $background-color;
        border: $border-style $border-color;
        
        @extend .range-tumb-class;
    }
}