$font-family: 'Varela Round', sans-serif;

$widget-width: 307px;
$widget-min-height: 200px;

$menu-min-height: 64px;
$calendar-menu-height: 85px;
$cur-min-height: 109px;
$currency-name-width: 103px;
$currency-name-height: 39px;
$currency-value-width: 150px;
$currency-value-height: 54px;

$chart-width: 102px;
$add-currency-width: 136px;
$number-pad-width: 69px;

$chart-icon-width: 33px;
$chart-icon-height: 30px;

$table-arrow-width: 41px;
$table-icon-width: 16px;
$table-icon-height: 27px;
$table-week-height: 56px;
$table-date-width: 46px;
$date-width: 30px;
$table-calendar-size: 100%;
$percentage-size: 100%;
$weather-menu-width: 76px;
$weather-menu-height: 64px;

$std-icon-height: 30px;

$music-player-width: 728px;
$music-player-height: 200px;
$singer-info-width: 142px;
$img-width: 126px;
$player-icon-width: 13px;
$interface-width: 555px;
$control-width: 47px;

$slider-height: 248px;
$slider-img-size: 100%;
$slider-switcher-size: 7px;

$duration-width: 488px;
$downloaded-width:388px;
$played-width: 300px;
$song-scale-height: 9px;
$song-scale-border-radius: 4px;
$control-item-width: 46px;

$bg-sprite-url: url("../img/sprites.png") no-repeat;

$white: #ffffff;
$gray: #efefef;
$gray-blue: #526e82;
$gray-border: #e2e2e2;
$salad: #4cd9c0;
$warm-red: #ff8989;
$currency-border-color: #d7d7d7;
$converter-txt-color: #b2b2b2;
$light-green: #4cd9c0;
$dark-green: #3dad99;
$table-dates-gray: #9d9d9d;
$default-txt-color: #202628;
$switcher-color: #05aeb3;
$switcher-active-color: #076164;
$singer-name-color: #a8a8a8;
$song-name-color: #d6d6d6;
$downloaded-color: #bbfdf1;
$time-color: #c6c6c6;
$year-color: #e6e6e6;
$options-green: #41c0a9;
$contact-name-color: #bac2c7;
$contact-text-color: #c8d3d9;
$new-message-color: #56e5f6;
$offline: #ec747d;
$light-gray: #bebebe;
$some-gray: #627d90;
$more-gray: #7191a8;

$border-style: 1px solid;
$big-border: 4px solid;

$text-transform: uppercase;

$widget-font-size: 18px;
$currency-name-font-size: 18px;
$currency-value-font-size: 40px;
$curr-first-letter-font-size: 27px;
$table-font-size: 17px;

$currency-position-top: 28px;
$currency-position-right: 27px;

$curr-padding-top: 8px;

$default-border-radius: 50%;

$cursor-type: pointer;

$default-word-spacing: -.26em;