$font-family: 'Varela Round', sans-serif;

$widget-width: 307px;
$widget-min-height: 200px;

$menu-min-height: 64px;
$calendar-menu-height: 85px;
$cur-min-height: 109px;
$currency-name-width: 103px;
$currency-name-height: 39px;
$currency-value-width: 150px;
$currency-value-height: 54px;

$chart-width: 102px;
$add-currency-width: 136px;
$number-pad-width: 69px;

$chart-icon-width: 33px;
$chart-icon-height: 30px;

$table-week-height: 56px;
$table-date-width: 46px;
$date-width: 30px;

$slider-height: 248px;
$slider-img-size: 100%;
$slider-switcher-size: 7px;

$duration-width: 488px;
$downloaded-width:388px;
$played-width: 300px;
$song-scale-height: 9px;
$song-scale-border-radius: 4px;
$control-item-width: 46px;

$bg-sprite-url: url("../img/sprites.png") no-repeat;

$white: #ffffff;
$gray: #efefef;
$gray-blue: #526e82;
$gray-border: #e2e2e2;
$salad: #4cd9c0;
$warm-red: #ff8989;
$currency-border-color: #d7d7d7;
$converter-txt-color: #b2b2b2;
$light-green: #4cd9c0;
$dark-green: #3dad99;
$table-dates-gray: #9d9d9d;
$default-txt-color: #202628;
$switcher-color: #05aeb3;
$switcher-active-color: #076164;
$singer-name-color: #a8a8a8;
$song-name-color: #d6d6d6;
$downloaded-color: #bbfdf1;
$time-color: #c6c6c6;

$border-style: 1px solid;

$text-transform: uppercase;

$widget-font-size: 18px;
$currency-name-font-size: 18px;
$currency-value-font-size: 40px;
$curr-first-letter-font-size: 27px;
$table-font-size: 17px;

$currency-position-top: 28px;
$currency-position-right: 27px;

$curr-padding-top: 8px;

$cursor-type: pointer;