html {
    position: relative; // это нужно для Sticky Footer взял с сайта примеров Bootstrap 
    min-height: 100%; // это нужно для Sticky Footer

    body {
        margin-bottom: 204px; // это нужно для Sticky Footer
        padding-top: 80px;

        // .navbar {
        //     height: $navbar-height;
        // }

        .navbar-fixed-top {
            border: none;

            .navbar-brand {
                text-transform: uppercase;
                font-size: 25px;
            }
        }

        .slider {
            color: #e7e7e7;
            background: url('../img/slider-img.png');
            background-size: cover;
            height: 560px;

            .white-line {
                display: inline-block;
                width: 264px;
                height: 14px;
                border-top: 2px solid #e7e7e7;
            }
        }

        .services {
            height: 277px;
            background-color: #e7e7e7;

            .services-row {
                margin-top: 80px;

                .red-circle {
                    width: 70px;
                    height: 70px;
                    color: #ffffff;
                    background-color: $dunkel-red;
                    font-size: 26px;
                    border-radius: 50%;
                    padding: 17px 0 0 22px;
                }
            }
        }

        .portfolio {
            height: 514px;

            .portfolio-row {
                margin-top: 80px;
                    
                .img-circle {
                    transform: scale(-1,1); /* отражает изображение */
                }
            }
        }

        .subscribe-section {

            .container {
                height: 185px;
                color: #ffffff;
                background-color: $dunkel-red;
                border-radius: 12px;

                .subscribe-section-row {
                    margin-top: 50px;

                    .black-circle {
                        width: 70px;
                        height: 70px;
                        display: inline-block;
                        background-color: #202628;
                        border-radius: 50%;
                        font-size: 26px;
                        padding: 15px 0 0 23px;
                    }
                }
            }
        }

        .company-contacts {
            height: 570px;

            &-row {
                margin-top: 80px;

                .img-circle {
                    width: 70px;
                    height: 70px;
                    border-radius: 50%;
                }
            }
        }

        .footer {
            position: absolute; // это нужно для Sticky Footer
            bottom: 0; // это нужно для Sticky Footer
            width: 100%; // это нужно для Sticky Footer
            height: 204px; // это нужно для Sticky Footer
            color: #767c7e;
            background-color: #202628;

            &-row {
                margin-top: 80px;
            } 
        }
    }
}