$font-family-sans-serif: 'Fjalla One', sans-serif;
$font-family-serif: 'Fjalla One', serif;

$dunkel-red: #e84c3d;

//** Global color for active items (e.g., navs or dropdowns).
$component-active-color: #ffffff;
//** Global background color for active items (e.g., navs or dropdowns).
$component-active-bg: #ff8989;

$navbar-height: 80px;
$navbar-default-color: #e7e7e7;
$navbar-default-bg: #202628;

// Navbar links
$navbar-default-link-color: #e7e7e7;
$navbar-default-link-hover-color: #ffffff;
$navbar-default-link-hover-bg: #ff8989;
$navbar-default-link-active-color: #ffffff;
$navbar-default-link-active-bg: #ff8989;

$nav-link-hover-bg: #ff8989;

// Navbar brand label
$navbar-default-brand-color: #e7e7e7;
$navbar-default-brand-hover-color: #ffffff;
$navbar-default-brand-hover-bg: $dunkel-red;

$icon-font-path: "../node_modules/bootstrap-sass/assets/fonts/bootstrap/";

$link-color: $dunkel-red;